{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block body %}
    <h1>log in here</h1>

    <form action="{{ url_for('signin') }}" method="post">

        <div class="form-group">
            <input class="form-control" name="username" placeholder="Enter a User Name">
        </div>

        <div class="form-group">
            <input class="form-control" name="psw" type="password" placeholder="Enter your password">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">sign in</button>
        </div>

    </form>

    <h2><a href="{{url_for('register')}}">get registered</a></h2>
{% endblock %}

